<header>
  <img src="/public/ezequiel-cicala.jpg" alt="Ezequiel Cicala">
  <hgroup>
    <h1>Ezequiel Cicala</h1>
    <p>Desarrollador Web</p>
    <p>Masculino, 41 años</p>
  </hgroup>
  <address>
    <p>ezequielcicala&commat;gmail.com</p>
    <p>(03548)569483 (Telegram y Whatsapp)</p>
    <a href="">Github</a> <a href="">Linkedin</a> <a href="">Upwork</a> <a href="">Workana</a>
  </address>
</header>
<main>
  <h2>Perfil</h2>
  <p>Soy un desarrollador web con más de 5 años de experiencia en la industria. Trabajé en proyectos con variadas tecnologías tanto para empresas como para clientes. Hoy en día enfoco mi trabajo en el front end, utilizando Angular y Angular Material.</p>
  <h2>Educación</h2>
  <p>Bachillerato (secundaria).</p>
  <h2>Experiencia</h2>
  <h3>Lenguajes principales</h3>
    <ul>
      <li>JavaScript (Angular / Angular Material)</li>
      <li>CSS (Bootstrap / Saas)</li>
      <li>HTML</li>
    </ul>
    <h2>Otros lenguajes y entornos</h2>
    <ul>
      <li>PHP (Symfony / Prestashop / Wordpress)</li>
      <li>Python (Django)</li>
      <li>Perl</li>
      <li>MySQL / MariaDB</li>
    </ul>
    
    <h2>Herramientas de trabajo</h2>
    <ul>
      <li>GNU/Linux</li>
      <li>Bash</li>
      <li>Git (Github)</li>
      <li>Npm</li>
      <li>JIRA / Redmine</li>
    </ul>
    
    <h2>Conceptos</h2>
    <ul>
      <li>Programación orientada a objetos</li>
      <li>Patrones de diseño</li>
      <li>Desarrollo guiado por pruebas</li>
      <li>Aplicaciones de una sola página</li>
      <li>REST</li>
      <li>Desarrollo ágil de software</li>
      <li>Principios SOLID, DRY y KISS</li>
    </ul>
    
    <h2>Habilidades blandas</h2>
    <ul>
      <li>Capacidad estratégica: poseo buena capacidad organizativa y estratégica. Desarrollé esta habilidad jugando videojuegos y coordinando a un equipo de desarrolladores web.</li>
      <li>Trabajo en equipo: poseo mentalidad grupal. Pasé 6 años trabajando en grupo bajo línea jerárquica.</li>
      <li>Comunicación y mentoría: poseo capacidad de síntesis y un vocabulario robusto y preciso. Puedo entender fácilmente en qué punto del aprendizaje está una persona y mostrarle cuál es el siguiente paso. Utilicé estas habilidades dando clases de programación.</li>
      <li>Adaptabilidad: entiendo que la vida es evolución permanente. Abrazo los cambios. Realicé múltiples tipos de trabajo como: construcción y mantenimiento, recolección de leña, cuidado de animales, huerta y cocina, además de mi especialidad.</li>
      <li>Pensamiento crítico: analizo toda la información disponible antes de tomar una decisión. Prefiero ir lento y seguro.</li>
      <li>Gestión del tiempo: tengo una buena noción del tiempo que llevan las cosas y respeto atentamente las prioridades para que cada tarea reciba el tiempo que merece.</li>
    </ul>
    
    <h2>Idiomas</h2>
    <p>Español nativo e inglés avanzado.</p>
    
    <h2>Historia laboral</h2>
    
    <h3>Trabajo freelance</h3>
    <h4>Luz del Valle (luzdelvalle.com.ar)</h4>
    <p>Enero 2024 a Junio 2024</p>
    <p>Uksim Cosmosofía necesitaba lanzar una tienda en línea para la difusión y venta de material escrito. Desarrollé este proyecto sobre la plataforma Prestashop. Fui guiado en el desarrollo por el líder y diseñador del proyecto para cumplir con los requisitos. El sitio cuenta con un listado de libros, soporte bilingüe, compras en línea y envíos por paquetería, además de información, fotos y videos sobre el grupo.</p>
    
    <h4>DealLeo</h4>
    <p>Enero 2017 a Marzo 2017</p>
    <p>Me uní a un startup cuyo proyecto fue crear una plataforma de ofertas globales potenciada por la comunidad de usuarios, quienes podían dar de alta nuevas ofertas en distintas tiendas. Trabajé profusamente en la creación de UI/UX y controlé la operatividad general del sitio.</p>
    
    <h4>Fr8</h4>
    <p>Enero 2016 a Julio 2016</p>
    <p>Me uní a un startup encarando un proyecto SaaS, cuyo objetivo era brindar servicios interconectados a través de la nube. Mi tarea fue trabajar en el front end, creando y mejorando diseños de UI, y corrigiendo errores.</p>
    
    <h4>Sitios personales para profesionales</h4>
    <p>Diseñé y lancé varios sitios para profesionales que deseaban ofrecer sus servicios a través de la web, utilizando principalmente Wordpress, incluyendo galerías de fotos.</p>
    
    <h3>Trabajo en relación de dependencia</h3>
  <h4>Instructor de programación de software</h4>
  <p>Gobierno de la Ciudad de Buenos Aires – Marzo 2017 a Diciembre 2017</p>
  <p>
    Fui contratado por la Ciudad de Bs. As. para sumarme como instructor al programa Codo a Codo para dar un curso de un año en el ITBA. Comencé con un grupo de aproximadamente 20 alumnos, y fuimos siguiendo el programa proporcionado por la administración, que incluía conceptos de ingeniería de sistemas, pseudocódigo, Java, bases de datos y algoritmos.
    Sobre el final del curso se desarrolló un proyecto colaborativo con los estudiantes, en este caso una aventura de texto, el cual fue expuesto luego junto con los proyectos de otros cursos de la Ciudad.
  </p>
  <h4>Desarrollador de front end</h4>
  <p>Wunderman – Enero 2012 a Agosto 2012</p>
  <p>Me uní a un equipo de desarrolladores para trabajar sobre incidencias en el portal web de Ford Motors. Trabajé principalmente en JavaScript, solucionando problemas de compatibilidad con distintos exploradores web. Hice algún proyecto de creación de nuevas UI.</p>
  <h4>Desarrollador web</h4>
  <p>Maat Gknowledge – Marzo 2007 a Enero 2011</p>
  <p>Mi primer trabajo como desarrollador. Trabajé mucho con Javascript, incluyendo herramientas como Jquery, Ajax y Bootstrap, y desarrollando UI. También hice un poco de back end en Perl.</p>
<footer>Desarrollado por mí mismo</footer>